#navbar-container {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

#navbar {
    width: 50%;
    margin: auto;
}

#navbar-container a{
    color: white;
}

// #navbar-container .active::after{
//     content: "";
//     display: block;
//     position: relative;
//     top: 5%;
//     height: 12px;
//     width: 12px;
//     border-radius: 50%;
//     background-color: teal;
//     margin: auto;
// }

$desktop: 768px;
@media (max-width: $desktop) {
    #navbar {
        width: 100%;
    }
}